@accent1: rgb(124, 204, 229);
@accent2: rgb(183, 217, 104);
@accent3: rgb(181, 118, 173);
@accent4: rgb(224, 70, 68);
@accent5: rgb(253, 228, 127);
@accent6: rgb(145, 190, 170);
@light: #fff;
@light2: #EEE;
@dark: #5E696C;
@dark2: #666;
@highlight: rgb(255, 240, 124);